<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 设置全局日志最小级别 -->
	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="logFileName" value="${logDirectory}/${shortdate}.log" />

	<targets>
		<!-- 目标1：存储到文件 -->
		<target name="logfile" xsi:type="File"
				fileName="${logFileName}"
				layout="${longdate} | ${threadid} | ${level:uppercase=true} | ${message} ${exception:format=ToString}"
				archiveFileName="${logDirectory}/archive/{#}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- 目标2：控制台输出（方便调试） -->
		<target name="console" xsi:type="Console"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- 自定义日志记录规则 -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="logfile" final="true" />
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>

</nlog>